.containerAbout{
    height: 100vh;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}


.textContainerAbout{
    color:black;
    width: 45%;
    font-size: 1.15em;
    text-align: justify;
}
.textContainerAbout>h1{
    font-size: 40px;
}

.imgFlutter{
    background-image: url(../../assets/imgGoogleIOBlack.jpg);
    background-size: cover;
    background-position: center;
    height: 40vh;
    width: 50vh;
}

@media screen and (max-width: 1210px) {
    .textContainerAbout {
      width: 80%; 
      font-size: 1.1em;
    }

    .containerAbout{
        height: auto;
    }
 
.imgFlutter{
    height: 20vh;
    width: 20vh;
}
}
