.title {
  text-align: center;
}

.sectionTweets {
  margin: 5em 0em;
}

.sectionTweets > h1 {
  margin-top: 3.7em;
  font-size: 2.5em;
  color: rgba(25, 25, 25, 0.976);
}
.twitter-tweet {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: auto;
}
.containerTweets {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.containerItemTweet {
  display: block;
  width: 30em;
  margin: 0.3em;
}

.containerItemTweet img {
  display: none;
}

@media screen and (max-width: 1210px) {
  .containerItemTweet {
    width: 90%;
  }

  .twitter-tweet {
    overflow: hidden;
  }
}
